<div class="md-modal md-effect-10" id="modal-10">
  <div class="md-content">
    <h3><span class='mdi mdi-48px mdi-keyboard'></span>  <span class="helperTitle">Getting Started</span><br></h3>
    <div>
      <div class="">
        <div class="helperText">
          <table class="helperTable" width="100%">
            <tr style="font-size: 20px;height:33px;vertical-align:top;">
              <td style=" text-align: center;" colspan="2">Navigation</td> 
              <td width="10%"></td> 
              <td style=" text-align: center;" colspan="2">More</td>
            <tr>
              <td width="21%"><b>alt + r</b></td> <td width="21%">open menu</td>
              <td width="6%"></td> 
              <td width="21%"><b>shift + c</b></td> <td width="21%">create new</td>
            </tr>
            <tr>
              <td width="21%"><b>alt + h</b></td> <td width="21%">home</td>
              <td width="6%"></td> 
              <td width="21%"><b></b></td> <td width="21%"></td>
            </tr>
            <tr>
              <td width="21%"><b>alt + i</b></td>  <td width="21%">incoming</td>
              <td width="6%"></td> 
              <td width="21%"><b></b></td> <td width="21%"></td>
            </tr>
            <tr>
              <td width="21%"><b>alt + o</b></td>  <td width="21%">overview</td>
              <td width="6%"></td> 
              <td width="21%"><b></b></td> <td width="21%"></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="md-overlay"></div> 

<footer class="mdl-mini-footer mdl-grid">
    <div class="mdl-mini-footer__left-section mdl-cell mdl-cell--8-col mdl-cell--middle">
      <span class="mdl-logo">
        <img width="120px" class="hvr-bounce-in" src="dist/images/newtelco_full2_lightgray2_og.png"/>
      </span>
      <script>
        // $('.mdl-logo>img').on('click', function() {
        //   window.open('https://newtelco.com','_blank');
        // })
      </script>
      <!-- <ul class="mdl-mini-footer__link-list">
        <li><a href="#">Help</a></li>
        <li><a href="#">Privacy & Terms</a></li>
      </ul> -->
    </div>
  <div class="mdl-layout-spacer"></div>
    <div class="mdl-mini-footer__right-section mdl-cell mdl-cell--4-col mdl-cell--middle mdl-typography--text-right">
      <div class="footertext">
        <span class="love">&hearts;</span><a target="_blank" class="footera hvr-underline-from-left" rel="noreferrer" href="https://github.com/ndom91"> ndom91 &copy;</a>
      </div>
    </div>
</footer>

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-127102919-4"></script>
<script>
  setTimeout(function() {
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    var dimensionValue = $('.menumail').text()
    gtag('set', 'dimension1', dimensionValue);
    gtag('config', 'UA-127102919-4');
  },500);
</script>
