<footer class="mdl-mini-footer mdl-grid">
    <div class="mdl-mini-footer__left-section mdl-cell mdl-cell--8-col mdl-cell--middle">
      <span class="mdl-logo">Newtelco GmbH</span>
      <ul class="mdl-mini-footer__link-list">
        <li><a href="#">Help</a></li>
        <li><a href="#">Privacy & Terms</a></li>
      </ul>
    </div>
  <div class="mdl-layout-spacer"></div>
    <div class="mdl-mini-footer__right-section mdl-cell mdl-cell--4-col mdl-cell--middle mdl-typography--text-right">
      <div class="footertext">
        built with <span class="love">&hearts;</span> by <a target="_blank" class="footera" rel="noreferrer" href="https://github.com/ndom91">ndom91</a> &copy;
      </div>
    </div>
</footer>

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-127102919-4"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  var dimensionValue = $('.menumail').text()
  gtag('set', 'dimension1', dimensionValue);
  gtag('config', 'UA-127102919-4');
</script>
