<footer class="mdl-mini-footer mdl-grid">
    <div class="mdl-mini-footer__left-section mdl-cell mdl-cell--8-col mdl-cell--middle">
      <span class="mdl-logo">
        <img width="120px" class="hvr-bounce-in" src="dist/images/newtelco_full2_lightgray2_og.png"/>
      </span>
      <script>
        $('.mdl-logo>img').on('click', function() {
          window.open('https://newtelco.com','_blank');
        })
      </script>
      <!-- <ul class="mdl-mini-footer__link-list">
        <li><a href="#">Help</a></li>
        <li><a href="#">Privacy & Terms</a></li>
      </ul> -->
    </div>
  <div class="mdl-layout-spacer"></div>
    <div class="mdl-mini-footer__right-section mdl-cell mdl-cell--4-col mdl-cell--middle mdl-typography--text-right">
      <div class="footertext">
        <span class="love">&hearts;</span><a target="_blank" class="footera hvr-underline-from-left" rel="noreferrer" href="https://github.com/ndom91"> ndom91 &copy;</a>
      </div>
    </div>
</footer>

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-127102919-4"></script>
<script>
  setTimeout(function() {
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    var dimensionValue = $('.menumail').text()
    gtag('set', 'dimension1', dimensionValue);
    gtag('config', 'UA-127102919-4');
  },500);
</script>
