/*
*
* Newtelco Maintenance Stylesheet
* Author: ndomino@newtelco.de
* Initial Commit: 11.11.18
*
*/

/* General */

html {
    font-size: .9375rem;
    overflow-x: hidden;
    color: #333;
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
}
body::after {
	content: "";
	opacity: 0.7;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: fixed;
	z-index: -1;
	width: 100%;
	box-shadow:
	  inset 0px 121px 110px -100px #000,
	  inset 0px -121px 110px -100px #000;
    /*background: url('../images/bg4.jpg') no-repeat center center fixed; */
}
table {
  font-family: 'Roboto', sans serif !important;
  color: #4d4d4d !important;
}
/* flatpickr */
.flatpickr {
  border: 0 !important;
}
/* <pace> */

.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: #fff;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 2px;
}

.pace.pace-inactive {
  display: none;
}

/* </pace> */

/* Login */

.signin_box {
	text-align: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
}
.signin_btn {
	height: 50px;
	width: auto;
}
@media only screen and (max-width: 700px) {
  .demo-card-wide {
    max-width: 95%;
  }
  .mdl-card__supporting-text {
    text-align: center;
  }
}

/* header */

@media only screen and (max-width: 700px) {
  .mdl-layout__header-row > .mdl-layout-title {
    display: none;
  }
  #user-profile-menu > .mdl-layout-subtitle {
    display: none;
  }
  .tableSearchGrid {
    padding: 2px !important;
  }
  .tableSearchGrid > .mdl-cell {
    max-height: 30px !important;
  }
  .tableSearchGrid > .mdl-cell > button[type="submit"] {
    bottom: -30px;
  }
  #dataTable1_wrapper > .row {
    text-align: left;
  }
  .dataTables_length {
    float: left;
  }
  .dataTables_filter {
    float: left;
  }
}

/* Userhome */

.mdl-dialog {
	margin-top: 50px;
  height: 60%;
	max-height: calc(100vh - 210px) !important;
	width:  800px !important;
  overflow-y: auto !important;
}

.selectGoogleButton {
	display: inline !important;
	float: right;
  background-color: #67B246 !important;
  color: #fff !important;
}

.selectGoogleLabel {
	display: inline;
  padding: 10px 0;
}

.userHomeHeader {
	width: 100%;
	height: 40px;
	margin-top: 5px;
	margin-bottom: 10px;
}

/* Add Edit */
.demo-card-wide2 {
  width: 492px !important;
  max-width: 100%;
  margin-top: 6%;
  margin-left: auto;
  margin-right: auto;
}
.demo-card-wide.mdl-card {
  width: 100%;
  max-width: 100%;
  margin-top: 3%;
  margin-left: auto;
  margin-right: auto;
}

.mdl-card__title__login {
  color: #fff !important;
  height: 176px !important;
  background: url('/assets/images/bg4.jpg') center / cover !important;
}

.demo-card-wide > .mdl-card__title {
  color: #fff;
  height: 65px;
  background: #4d4d4d;
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}
#addCalbtn {
  float: left;
  display: inline;
}
#viewMailID {
    float: right;
}

.mdl-textfield__label__icon {
   position: absolute;
   right: 5px;
   top: 20px;
}

/* Select Mail Modal */

.mailDialog1 {
  width: 800px;
   height: calc(100vh - 126px);
   overflow-y:scroll;
}
.labelSelectHeader {
  height: 30px;
  width: 98%;
  padding: 15px;
  margin-bottom: 10px;
  position: relative;
}
.mailcSelectHeader {
  height: 50px;
  width: 98%;
  padding: 15px;
  margin-bottom: 10px;
}
.labelSelectLabel {
  font-size: 2em !important;
  display: inline;
  padding: 24px 10px 0;
  margin: 0;
}
.labelSelectClose {
  position:fixed !important;
  top:50px;
  right:50px;
  z-index: 1000;
  height: 48px !important;
  width: 48px !important;
  min-width: 48px !important;
  background-color: #67B246 !important;
  color: #fff !important;wa
}

.mailcSelectClose2 {
  height: 48px !important;
  width: 48px !important;
  min-width: 48px !important;
  background-color: #67B246 !important;
  color: #fff !important;
  position:relative !important;
  float: right;
  top: -70px;
  z-index: 1000;
  box-shadow: 0 5px 5px 0 rgba(255,255,255, 0.62), 0 5px 5px 0 rgba(255,255,255, 0.64);
}

.mailcSelectClose {
  height: 48px !important;
  width: 48px !important;
  min-width: 48px !important;
  background-color: #67B246 !important;
  color: #fff !important;
  position:relative !important;
  float: right;
  top: -110px;
  z-index: 1000;
  box-shadow: 0 5px 5px 0 rgba(255,255,255, 0.62), 0 5px 5px 0 rgba(255,255,255, 0.64);
}

.labelSelectBtn {
  float:right;
}

/* Overview / Datatables */

.tableSearchGrid > .mdl-cell > .mdl-textfield.is-focused .mdl-textfield__label:after {
  bottom: 13px;
}

.dataTables_wrapper {
    width: 100%;
    margin: 0 auto;
    padding-bottom: 20px;
}

.page-item.active .page-link {
	background-color: #4d4d4d !important;
	border-color: #4d4d4d !important;
}

.dataTables_empty {
  	display:none;
}

table.dataTable tbody>tr>.selected {
  background-color: #c2e0b5 !important;
}

a.editLink {
	color: #67B246 !important;
}
.dtr-inline, collapsed {
  width: 100px;
}

table.dataTable.dtr-inline.collapsed.compact>tbody>tr>td:first-child:before, table.dataTable.dtr-inline.collapsed.compact>tbody>tr>th:first-child:before {
  height: 36px !important;
  width: 36px !important;
  border-radius: 50% !important;
  top: 10px !important;
  width: 100px;
}
table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>td:first-child:before, table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>th:first-child:before {
  background-color: #67B246 !important;
  font-size: 36px;
  line-height: 40px !important;
}

.labelColors {
  border-radius: 10px;
  padding: 2px;
  font-family: 'Roboto', sans serif;
  text-align: center;
}

/* addedit */

@media only screen and (max-width: 700px) {
  #dialog1 {
    width: 90% !important;
  }
  .labelSelectHeader {
    width: 92% !important;
  }
  #mailDialog {
    width: 90% !important;
    overflow-y:auto;
  }
  .mailDialog1 {
    width: 90% !important;
  }
  .mdl-dialog__content {
    position: relative;
    top: 100px;
    overflow-wrap: break-word;
  }
  .mdl-dialog__content > div {
    width: 95% !important;
  }
  .labelSelectLabel {
    font-size: 1.5em !important;
    padding: 0px !important;
  }
  .sublabelSelectLabel {
    font-size: 1.2em !important;
  }
  .mailcSelectClose {
    margin-top: -50px !important;
    right: -20px;
  }
  .mailcSelectClose2 {
    margin-top: -40px !important;
    right: -20px;
  }
}

.sublabelSelectLabel {
  font-size: 20px;
}

/* Menu */

.menu_userdetails {
	padding-left: 40px;
	display: block;
    position: relative;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 1;
    letter-spacing: 0.02em;
    font-weight: 400;
    box-sizing: border-box;
}
.menu_userphoto {
	border-radius: 50%;
	height: 38px;
	width: 38px;
	margin-left: 10px;
	border: 2px solid #fff;
}
.menu_logout {
	position:  fixed;
	bottom: 0;
}
.menu_logout:hover {
	background-color: rgb(250,250,250) !important;
}
.mdl-userprofile-button {
	background: transparent;
    border: none;
    border-radius: 2px;
    color: rgb(0,0,0);
    position: relative;
    height: 42px !important;
    min-width: 64px;
    display: inline-block;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1;
    letter-spacing: 0;
    overflow: hidden;
    will-change: box-shadow;
    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1), color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    outline: none;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    justify-content: center;
    line-height: 36px;
    vertical-align: middle;
}
.mdl-userprofile-button:hover {
    background-color: rgba(255,255,255, 0) !important;
}
.usermenuhref {
	text-decoration: none !important;
	border-bottom: none !important;
	color: #000;
}
.usermenuhref:hover {
  color: #67B246;
}
.menuangle {
	color: #fff;
	margin-left: 5px;
}

.menumail {
	color:#fff;
	font-size: 12px !important;
	margin-left: 10px;
}
.ndl-ballot {
  content: url('/assets/images/svg/ballot.svg');
  position: relative;
  top: 6px;
  margin-right: 10px;
  white-space:nowrap;
  opacity: 0.8;
  color: #67B246;
}
.ndl-createnew {
  content: url('/assets/images/svg/createnew.svg');
  position: relative;
  top: 6px;
  margin-right: 10px;
  white-space:nowrap;
  opacity: 0.8;
}
.ndl-face {
  content: url('/assets/images/svg/face.svg');
  position: relative;
  top: 6px;
  margin-right: 10px;
  white-space:nowrap;
  opacity: 0.8;
}
.ndl-group {
  content: url('/assets/images/svg/group.svg');
  position: relative;
  top: 6px;
  margin-right: 10px;
  white-space:nowrap;
  opacity: 0.8;
}
.ndl-home {
  content: url('/assets/images/svg/home.svg');
  position: relative;
  top: 6px;
  margin-right: 10px;
  white-space:nowrap;
  opacity: 0.8;
}
.ndl-overview {
  content: url('/assets/images/svg/overview.svg');
  position: relative;
  top: 6px;
  margin-right: 10px;
  white-space:nowrap;
  opacity: 0.8;
}
.ndl-toggle_off {
  content: url('/assets/images/svg/toggle_off.svg');
  position: relative;
  top: 6px;
  margin-right: 10px;
  white-space:nowrap;
  opacity: 0.8;
}
.ndl-toggle_on {
  content: url('/assets/images/svg/toggle_on.svg');
  position: relative;
  top: 6px;
  margin-right: 10px;
  white-space:nowrap;
  opacity: 0.8;
}
.ndl-work {
  content: url('/assets/images/svg/work.svg');
  position: relative;
  top: 6px;
  margin-right: 10px;
  white-space:nowrap;
  opacity: 0.8;
}
.ndl-settings {
  content: url('/assets/images/svg/settings.svg');
  position: relative;
  top: 6px;
  margin-right: 10px;
  white-space:nowrap;
  opacity: 0.8;
}
.menuSubLabel {
  color: #67B246;
  float: right;
  top: 6px;
  font-size: 14px !important;
  position: relative;
  right: -10px;
}
.mdl-layout__drawer .mdl-navigation .mdl-navigation__link {
  padding: 16px 30px !important;
}
.mdl-layout__drawer  {
  overflow-y: unset !important;
}

/* Settings */

.settingsFirmenHeader {
	width: 100%;
	height: 40px;
	margin: 25px;
}

.labelSelectLabelSettings {
  font-size: 1.1em !important;
  padding: 0px !important;
}

.selectLabelSettings {
	display: inline !important;
	text-align: center;
  background-color: #67B246 !important;
  color: #fff !important;
  margin-left: 40px !important;
}

/* Footer */

.mdl-mini-footer {
	width:  100%;
}
.footertext {
	margin-right: 20px;
}

.footera {
	text-decoration: none;
	color: #67B246 !important;
}

.footera:hover {
	text-decoration: none;
	color: #67B246 !important;
}

.love {
	color: rgb(255,138,128);
}
@media only screen and (max-width: 700px) {
  .mdl-mini-footer {
  	width:  100%;
    max-height: 64px !important;
    height: 64px !important;
  }
  .mdl-mini-footer__link-list {
    display: none !important;
  }
  .mdl-mini-footer > .mdl-layout-spacer {
    display: none !important;
  }
  .mdl-mini-footer__left-section {
    display: inline !important;
    width: 45% !important;
  }
  .mdl-mini-footer__right-section {
    display: inline !important;
    width: 45% !important;
  }
}
